<div class="page-width section-{{ section.id }}-padding">
  <div class="dev-button-container">
    <button id="DevInfoButton" class="button">Click here to say hello</button>
  </div>
</div>

{% schema %}
{
  "name": "Developer Info Button",
  "settings": [],
  "presets": [
    {
      "name": "Developer Info Button"
    }
  ]
}
{% endschema %}
